
@import url('https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&family=Oswald:wght@200..700&display=swap');

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.965);
}

header {
    background-color: black;
    margin: 0 0 15px;
    padding: 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

button, li, a {
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.nav-links:hover li a {
    color: rgb(255, 0, 0);
}

.logotipo {
    width: 55px;
    height: 50px;
}

button {
    background-color: rgb(0, 209, 241);
    border: none;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'Ancizar Sans';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    cursor: pointer;
}


@media (max-width: 800px) {
    .logotipo {
        width: 45px;
        height: 40px;
    }

    .nav-links li {
        padding: 5px 0;
    }

    li, a, button {
        font-size: 12px;
    }
    
    button {
        padding: 5px 10px;
    }
}